body{background-color: rgb(191, 169, 219) ; text-align: center;}
#para{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.c1{background-color: rgb(136, 190, 211);}